<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Covid Helper</span>
      <span class="spacer"></span>

      <button
        *ngIf="isAdmin === true"
        mat-button
        type="button"
        [routerLink]="['/citizen-info']">Admin Panel</button>

      <button
        *ngIf="user | async"
        mat-button
        type="button"
        [routerLink]="['/employee']">
        Profile
      </button>

      <button
        *ngIf="user | async"
        mat-button
        type="button"
        (click)="signOut()">Logout</button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
