<div class="flexContainer">
  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input
      matInput
      (ngModelChange)="applyFilter($event)"
      placeholder="Ejemplo: Arnoldo Bazaldua"
      [ngModel]="globalFilter"
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>
          Nombre

          <div>
            <mat-form-field>
              <input
                matInput
                class="form-field"
                [formControl]="nameFilter"
                placeholder="Filtro de Nombre"
              />
            </mat-form-field>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.firstname }}</td>
      </ng-container>

      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let element">{{ element.paternalLastname }}</td>
      </ng-container>

      <ng-container matColumnDef="curp">
        <th mat-header-cell *matHeaderCellDef>
          Curp

          <div>
            <mat-form-field>
              <input matInput class="form-field" [formControl]="curpFilter" placeholder="Filtro de curp">
            </mat-form-field>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.curp }}</td>
      </ng-container>

      <ng-container matColumnDef="estatus">
        <th mat-header-cell *matHeaderCellDef>Estatus de ayuda asignada</th>
        <td mat-cell *matCellDef="let element">{{ element.accepted }}</td>
      </ng-container>

      <ng-container matColumnDef="accept">
        <th mat-header-cell *matHeaderCellDef>Aceptar ayuda a ciudadano</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="onCitizenAccept(element)"
          >
            Aceptar
          </button>
        </td>
      </ng-container>


      <ng-container matColumnDef="socialWorker">
        <th mat-header-cell *matHeaderCellDef>Asignar trabajador social</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <mat-label>Trabajador social</mat-label>
            <mat-select [formControl]="socialWorkerFC">
              <mat-option
                *ngFor="let assignedSocialWorker of socialWorkers"
                [value]="assignedSocialWorker.id"
              >
                {{ assignedSocialWorker.firstname }}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="onAssignSocialWorker(element)"
          >
            Asignar
          </button>
        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="selectCitizen(row)"
      ></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<div class="flexContainer">
  <mat-tab-group class="groupTabs" [selectedIndex]="selected" (selectedIndexChange)="changeTab($event)">
    <mat-tab label="Registrar Ciudadano">
      <app-citizen-register></app-citizen-register>
    </mat-tab>

    <mat-tab label="Editar a Ciudadano">
      <div class="flexContainerAddDeep">
        <div class="profile-container">



          <div class="register-container">
            <form [formGroup]="formEdit" (ngSubmit)="onSubmitEdit()">
              <mat-form-field>
                <mat-label>Nombre(s)</mat-label>
                <input matInput type="text" placeholder="Nombre" formControlName="firstname" />
              </mat-form-field>
          
              <mat-form-field>
                <mat-label>Apellido Paterno</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Apellido Paterno"
                  formControlName="paternalLastname"
                />
              </mat-form-field>
          
              <mat-form-field>
                <mat-label>Apellido Materno</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Apellido Materno"
                  formControlName="maternalLastname"
                />
              </mat-form-field>
          
              <mat-form-field>
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthDate" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
          
              <mat-form-field>
                <mat-label>Estado de Nacimiento</mat-label>
                <mat-select formControlName="birthStateId">
                  <mat-option *ngFor="let state of states" [value]="state.id">
                    {{ state.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          
              <div class="radio-group">
                <mat-label>¿Cuenta con un empleo formal?</mat-label>
                <mat-radio-group formControlName="hasJob">
                  <mat-radio-button value="true">Si</mat-radio-button>
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
              </div>
          
              <mat-form-field *ngIf="formEdit.get('hasJob').value === 'true'">
                <mat-label>Cantidad recibida en su último salario</mat-label>
                <input matInput type="number" placeholder="ḾXN" formControlName="lastPaycheckQty" />
              </mat-form-field>
          
              <mat-form-field>
                <mat-label>Cantidad de dependientes</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="Dependientes"
                  formControlName="dependantQty"
                />
              </mat-form-field>
          
              <div class="radio-group">
                <mat-label>¿El ciudadano es soltero?</mat-label>
                <mat-radio-group formControlName="isSingle">
                  <mat-radio-button value="true">Si</mat-radio-button>
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
              </div>
          
              <div class="radio-group">
                <mat-label>¿El ciudadano cuenta con otro tipo de apoyo gubernamental?</mat-label>
                <mat-radio-group
                  formControlName="hasOtherSupport"
                  (change)="onHasOtherSupportChange($event)"
                >
                  <mat-radio-button value="true">Si</mat-radio-button>
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
              </div>
          
              <ng-container *ngIf="formEdit.get('hasOtherSupport').value === 'true'">
                <ng-container *ngFor="let support of getGovSupportArray().controls; index as i">
                  <div [formGroup]="support">
                    <mat-form-field>
                      <mat-label>Selecciona el tipo de apoyo</mat-label>
                      <mat-select formControlName="supportType">
                        <mat-option
                          *ngFor="let supportType of govSupportOptions"
                          [value]="supportType.value"
                        >
                          {{ supportType.label }}
                        </mat-option>
                        <mat-option value="other">Otro</mat-option>
                      </mat-select>
                    </mat-form-field>
          
                    <mat-form-field *ngIf="support.get('supportType').value === 'other'">
                      <mat-label>¿Qué recibes como apoyo?</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="Nombre del apoyo"
                        formControlName="otherSupportName"
                      />
                    </mat-form-field>
                  </div>
                  <button
                    mat-raised-button
                    (click)="deleteSupport(i)"
                    class="delete-support-btn"
                    color="primary"
                    type="button"
                  >
                    Eliminar apoyo -
                  </button>
                </ng-container>
          
                <button
                  mat-raised-button
                  [disabled]="!getGovSupportArray().valid"
                  (click)="pushGovSupportForm()"
                  color="primary"
                  type="button"
                >
                  Añadir otro apoyo +
                </button>
              </ng-container>
          
              <button mat-raised-button color="primary" type="submit" [disabled]="!formEdit.valid">
                Editar
              </button>
          
            </form>
          </div>
          





        </div>
      </div>
    </mat-tab>

    <mat-tab label="Registrar Trabajador social">
      <div class="register-sw">
        <form [formGroup]="formSocialWorker" (ngSubmit)="registerSocialWorker()">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input
              matInput
              type="text"
              placeholder="Username"
              formControlName="username"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
            />
          </mat-form-field>

          
    <div class="radio-group">
      <mat-label>¿Admin?</mat-label>
      <mat-radio-group formControlName="isAdmin">
        <mat-radio-button value="true">Si</mat-radio-button>
        <mat-radio-button value="false">No</mat-radio-button>
      </mat-radio-group>
    </div>

          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!formSocialWorker.valid"
          >
            Register
          </button>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
