<div class="flexContainer">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (ngModelChange)="applyFilter($event)"
     placeholder="Ejemplo: Arnoldo Bazaldua" [ngModel]="globalFilter">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre

          <div>
            <mat-form-field>
              <input matInput class="form-field" [formControl]="nameFilter"
               placeholder="Filtro de Nombre">
            </mat-form-field>
          </div>

        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> Curp

          <div>
            <mat-form-field>
              <input matInput class="form-field" [formControl]="cityFilter" placeholder="Filtro de curp">
            </mat-form-field>
          </div>


        </th>
        <td mat-cell *matCellDef="let element"> {{element.livingCity}} </td>
      </ng-container>

      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> Estatus </th>
        <td mat-cell *matCellDef="let element"> {{element.livingCountry}} </td>
      </ng-container>


      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="onEmployeeDelete(element)">
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectEmployee(row)"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>


<div class="flexContainer">
  <mat-tab-group class="groupTabs"
  [selectedIndex]="selected"
               (selectedIndexChange)="change($event)"
  >
    <mat-tab label="Registrar Ciudadano">
      <app-citizen-register></app-citizen-register>
    </mat-tab>



    <mat-tab label="Editar">


      <div class="flexContainerAddDeep">

        <div class="profile-container">

        <div class="skill-form">
          <div class="form-container">
            <h1>Skills</h1>
            <form
              [formGroup]="skillForm"
              (ngSubmit)="onAddSkill()">
              <mat-form-field>
                <mat-label>Skill Name</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Skill Name"
                  formControlName="name"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Skill Area</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Skill Area"
                  formControlName="area"
                />
              </mat-form-field>

              <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!skillForm.valid">
                Add Skill
              </button>
            </form>
          </div>
          <div class="skills-container">
            <mat-card *ngFor="let skill of editEmployee?.skills; let i = index">
              <mat-card-header>
                <mat-card-title>{{ skill.name }}</mat-card-title>
                <mat-card-subtitle>{{ skill.area }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-actions>
                <button mat-button (click)="onSkillDelete(i)">Delete</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>


        <div class="project-form">
          <div class="form-container">
            <h1>Projects</h1>
            <form [formGroup]="projectForm" (ngSubmit)="onProjectSubmit()">
              <mat-form-field>
                <mat-label>Customer</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Customer Name"
                  formControlName="customer"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Initial Date</mat-label>
                <input
                  disabled
                  matInput
                  [matDatepicker]="initDatePicker"
                  formControlName="initialDate">
                <mat-datepicker-toggle matSuffix [for]="initDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #initDatePicker disabled="false" touchUi="true"></mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Completion Date</mat-label>
                <input
                  disabled
                  matInput
                  [matDatepicker]="completionDatePicker"
                  formControlName="completionDate">
                <mat-datepicker-toggle matSuffix [for]="completionDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #completionDatePicker disabled="false" touchUi="true"></mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Role</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Role"
                  formControlName="role"
                />
              </mat-form-field>

              <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!projectForm.valid">
                Add Project
              </button>
            </form>
          </div>
          <div class="projects-container">
            <mat-card *ngFor="let project of editEmployee?.projects; let i = index">
              <mat-card-header>
                <mat-card-title>{{ project.customer }}</mat-card-title>
                <mat-card-subtitle>
                  {{ (project.initialDate | date:'mediumDate') + ' | ' + (project.completionDate | date:'mediumDate') }}
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-actions>
                <button mat-button (click)="onProjectDelete(i)">Delete</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>


      </div>






      </div>
    </mat-tab>


 
    <mat-tab label="Registrar Trabajador social">
      
      <div class="register-sw"> 
      <form [formGroup]="formSocialWorker" (ngSubmit)="registerSocialWorker()">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="text" placeholder="Username" formControlName="username" />
        </mat-form-field>
    
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password" />
        </mat-form-field>
    
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
          Register
        </button>
  
      </form>
    </div>


    </mat-tab>

  </mat-tab-group>
</div>
